<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecchilon.sadpanda" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".overview.SearchActivity"
            android:label="@string/title_activity_overview"
            android:theme="@style/SwipeBackTheme"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.ecchilon.sadpanda.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ecchilon.sadpanda.MainActivity" />
        </activity>
        <activity
            android:name=".imageviewer.ImageViewerActivity"
            android:theme="@style/AppTheme.CustomActionBarTheme"/>
    </application>

</manifest>
